/* * {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  } */
  .navigation-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 250px;
      float: right;
  }
  .main-wrapper .navigation-wrapper .letter{
      background: #0097a7;
      padding: 8px;
      border: 1px solid #0097a7;
      border-radius: 50%;
      color: white;
      font-size: 15px;

  }
  .icon_1{
      background: #777;
      padding: 2px;
      border: 1px solid #737373;
      border-radius: 50%;
      color: white;
      font-size: 10px;
  }